alembic==1.15.1
annotated-types==0.7.0
anyio==4.8.0
asttokens==3.0.0
blinker==1.9.0
bqplot==0.12.44
branca==0.8.1
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
colour==0.1.5
comm==0.2.2
contourpy==1.3.1
cycler==0.12.1
decorator==5.2.1
distro==1.9.0
earthengine-api==1.5.6
eerepr==0.1.1
executing==2.2.0
Flask==3.1.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
folium==0.19.5
fonttools==4.56.0
fpdf==1.7.2
future==1.0.0
geemap==0.35.3
geocoder==1.38.1
google-api-core==2.24.2
google-api-python-client==2.164.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.1
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
idna==3.10
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipyleaflet==0.19.2
ipython==9.0.2
ipython_pygments_lexers==1.1.1
ipytree==0.2.2
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.9.0
jupyter-leaflet==0.19.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.8
Mako==1.3.9
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
narwhals==1.30.0
numpy==2.2.3
openai==1.66.3
packaging==24.2
pandas==2.2.3
parso==0.8.4
pillow==11.1.0
plotly==6.0.0
prompt_toolkit==3.0.50
proto-plus==1.26.1
protobuf==5.29.3
psycopg2-binary==2.9.10
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
pyparsing==3.2.1
pyperclip==1.9.0
pyshp==2.3.1
python-box==7.3.2
python-dateutil==2.9.0.post0
pytz==2025.1
ratelim==0.1.6
requests==2.32.3
rsa==4.9
scooby==0.10.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.39
stack-data==0.6.3
tqdm==4.67.1
traitlets==5.14.3
traittypes==0.2.1
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.3.0
wcwidth==0.2.13
Werkzeug==3.1.3
widgetsnbextension==4.0.13
xyzservices==2025.1.0
